<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ExcelSettingPath" value="Files\ExcelPrice.xlsx" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="TempAttachmentFilePath" value="C:\temp\" />

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ExchangeLogin" value="testbox@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ExchangePassword" value="N3e_P@ss!" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ExchangeAdminEmails" value="testbox@parkip.com" />
    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SubjectRegexFilter" value="SalesEstimator" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AbbyFormat" value=".pdf;.jpg;.jpeg;.png;.bmp" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AbbyHotFolderInPath" value="C:\Abby\In" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AbbyHotFolderOutPath" value="C:\Abby\Out" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AbbyMaxWaitTimeMinutes" value="5" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AbbySleepTimeMilliseconds" value="5000" />

  </appSettings>
</configuration>