<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="TaskPauseSeconds" value="60"/>

    <add key="ExcelSettingPath" value="G:\Park IP OP Drop Box\REFERENCE - Estimate-Intake\ExcelPrice.xlsx" />
    <add key="TempAttachmentFilePath" value="C:\temp\" /> 

    <add key="ExchangeLogin" value="park.management@parkip.com" />
    <add key="ExchangePassword" value="*P@rkM@n&amp;" />
    <add key="ExchangeAdminEmails" value="nikita.levitan@parkip.com;iv.alex1986@gmail.com" />
    <add key="SubjectRegexFilter" value="SalesEstimator" />
    <add key="AbbyFormat" value=".pdf;.jpeg;.png;.bmp" />
    <add key="AbbyHotFolderInPath" value="C:\Abby\In" />
    <add key="AbbyHotFolderOutPath" value="C:\Abby\Out" />
    <add key="AbbyMaxWaitTimeMinutes" value="5" />
    <add key="AbbySleepTimeMilliseconds" value="5000" />
    <add key="MinimumPrice" value="150.0"/>
    
  </appSettings>

</configuration>